@model IEnumerable<DuLich.Models.Car>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my WebSite</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Nothing &raquo;</a></p>
</div>